*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient( to right,   #5363da, #a8bbed);
   
}

.perfil{
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #250933;
    
}

a{
    text-decoration: none;
    color:aliceblue;
}


header{
    text-align: center;
    margin-bottom: 40px;
}

header img{
    max-width: 150px;
    margin-bottom: 30px;
    border-radius: 80px;
     box-shadow: 5px 5px 10px  rgb(98, 98, 230);
    

}

h1{
    font-size: 40px ;
    margin-bottom: 20px;
    color: #d6e1ff;
    font-weight: 300;
}

h3{
    color: #152ba9;
}



section{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
 button{
    width: 100%;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    
    
}
button:hover, footer a.btn-footer:hover{
    transform: scale(1.05);

}

.degrade{
    background: linear-gradient( to right,  #9fa6ea, #3c2ebd);
}

footer{
    text-align: center;
    margin: 40px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display:inline-block;
    font-size: 15px;
    line-height: 60px;
    color:rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0 25px;
    transition: .2s;
    background: linear-gradient( to left, #152ba9, #2134c4);
   
}
@media screen and (max-width: 630px){
    footer{
        display: flex;
    }
}



