*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient( to right,   #ad5fcc, #ede9ef);
}

.perfil{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #250933;
    
}

a{
    text-decoration: none;
    color:aliceblue;
}


header{
    text-align: center;
    margin-bottom: 40px;
}

header img{
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 40px;
    

}

h1{
    font-size: 40px ;
    margin-bottom: 20px;
    color: black;
    font-weight: 300;
}



section{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
 button{
    width: 100%;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    color:#e9cff5;
    font-family:'Times New Roman', Times, serif;
    
    
}
button:hover, footer a.btn-footer:hover{
    transform: scale(1.05);

}

.degrade{
    background: linear-gradient( to right, #b361d3, #230133);
}

footer{
    text-align: center;
    margin: 40px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display:inline-block;
    font-size: 15px;
    line-height: 60px;
    color:rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0 25px;
    transition: .2s;
    background: linear-gradient( to left, #291629, #9621c4);
   
}
@media screen and (max-width: 630px){
    footer{
        display: flex;
    }
}



